<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Kinect.Joy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  
   <runtime>
       <gcConcurrent enabled="true" />
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
          <publisherPolicy apply="yes" />
          <probing privatePath="Kinect.Joy_Lib" />

          </assemblyBinding>
    </runtime>
  
    <userSettings>
        <Kinect.Joy.Properties.Settings>
            <setting name="LastDir" serializeAs="String">
                <value />
            </setting>
            <setting name="AppKey" serializeAs="String">
                <value>2373954419</value>
            </setting>
            <setting name="AppSecrect" serializeAs="String">
                <value>17d053da3f5f5e9b64174c3f949e30a4</value>
            </setting>
            <setting name="CallbackUrl" serializeAs="String">
                <value>https://api.weibo.com/oauth2/default.html</value>
            </setting>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>weirenren2012@163.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>weirenren</value>
            </setting>
        </Kinect.Joy.Properties.Settings>
    </userSettings>
</configuration>